<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Abstract</h2>
      <ul>
        <li><a href="#">Branches</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Release Notes</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Community</h2>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Dribble</a></li>
        <li><a href="#">Podcast</a></li>

      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Company</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
      <h2 class="ft-title">Contact Us</h2>
      <ul>
        <li><a href="#">info@abstract.com</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <img src="./assets/dolar.png" style="width: 80px;">
      <p>Copyright 2022</p>
      <p>Abstract Studio Design, Inc.</p>
      <p>All rights reserved</p>
    </div>
  </section>
</footer>
